/* You can add global styles to this file, and also import other style files */

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button:focus,
.datagrid-cell:focus {
  outline: none;
  border: 0 !important;
}

.loading {
  width: calc(100vw);
  height: calc(100vh);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-loading {
  // background-color: aqua;
  display: block;
  margin: 0 auto;
  margin-top: 18rem;
}

.clr-vertical-nav {
  padding-top: 0.35rem;
}

.clr-vertical-nav.is-collapsed {
  width: 2.8rem !important;
}

.main-container:not([class*=open-overflow-menu]):not([class*=open-hamburger-menu]) .clr-vertical-nav.is-collapsed .nav-trigger {
  margin-right: 0.5rem !important;
}

.branding {
  padding: 0 0.3rem !important;
}